@import "../scss/mixins";
@import "../scss/colors";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-page {
    @include wh();
    @include flex(center, start, column);
    min-height: 100vh;
    background-color: shark('950');
    padding: 2rem;
    gap: 2rem;
}