@import "./colors";

@mixin wh($w: 100%, $h: 100%) {
    width: $w;
    height: $h;
}

@mixin flex($align: start, $justify: start, $fd: column) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $fd;
}

@mixin flexcenter($fd: column) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $fd;
}

@mixin divider($h: 100%) {
    color: secColor('100');
    height: $h;
    width: 2px;
}